<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/base.css">
    <title>Cupcake Store</title>
</head>
<body>
    <h1>Your Cart</h1>
    <div>
        <table class="cupcake-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Flavor</th>
                    <th>Frosting</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for cupcake in cupcakes %}
                    <tr>
                        <td>{{ cupcake["name"] }}</td>
                        <td>{{ cupcake["flavor"] }}</td>
                        <td>{{ cupcake["frosting"] }}</td>
                        <td>{{ cupcake["price"] }}</td>     
                    </tr>
                {% endfor %}
                    <tr>
                        <td>Total</td>
                        <td></td>
                        <td></td>
                        <td>{{ total }}</td>
                    </tr>
            </tbody>
        </table>
    </div>
    <a href="/">
        <button type="button" class="btn">Back Home</button>
</body>
</html>